* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f5f6;
    color: #121111;
}
/* Общие стили для header */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #f8f8f8;
}


.header img:first-child {
    margin-right: auto; 
}


.header img:last-child {
    margin-left: auto; 
}


.smallIconPizza {
    width: 50px;
    height: auto;
}

.mainTitle {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.wordsAboutCompany {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.search {
    background-color: #ff6347;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    max-width: 400px;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
}

.search:hover {
    background-color: #e55347;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header img {
        margin-bottom: 10px;
    }

    .mainTitle {
        font-size: 1.5rem;
    }

    .wordsAboutCompany {
        font-size: 1rem;
    }

    .search {
        margin-top: 10px;
    }
}

