* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f5f6f7;
}
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid rgb(186, 129, 22);
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
}
.list li {
    margin-right: 20px;
}
.list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.7s ease-in-out;
}
.list a:hover {
    color: rgb(186, 129, 22);
}