* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0a0a23;
    color: #fff;
}
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid rgb(186, 129, 22);
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
}
.list li {
    margin-right: 20px;
}
.list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.7s ease-in-out;
}
.list a:hover {
    color: rgb(186, 129, 22);
}
label {
    display: block;
    margin: 0.5rem 0;
}

.bold-text {
    font-weight: 600;
    font-size: 18px;
}
